<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M.D.A.觀享時刻</title>
    <meta name="author" content="MSIT143 01陳苡錚 06王婷薇 11廖家毅 13李沛軒 16洪暐婷 18游曉雯 20鄭凱" />
    <meta name="keywords" content="M.D.A.觀享時刻,M.D.A.,MDA,觀享時刻,電影訂票,電影評論,訂票,評論,電影,電視劇,動畫" />
    <meta name="date" content="2022/06/15" />
    <meta name="description" content="M.D.A. 為 Movie, Drama, Anime 的縮寫。希望藉由這個整合平台，讓最完整的電影、電視劇及動畫相關資訊都能快速方便的被使用者查找、觀賞及討論。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">






</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active">
                                    <a href="./index.html">訂票</a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">本週新片</a></li>
                                        <li><a href="./anime-details.html">上映中</a></li>
                                        <li><a href="./anime-watching.html">即將上映</a></li>
                                        <li><a href="./blog-details.html">歷年電影</a></li>
                                        <li><a href="./blog-details.html">電影排行</a></li>
                                        <li><a href="./blog-details.html">我的評論</a></li>
                                        
                                    </ul>
                                </li>

                                <li>
                                    <a href="./categories.html">電影<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">

                                        <li><a asp-area="" asp-controller="Ticketing" asp-action="MovieInfoIndex">我要訂票</a></li>
                                        <li><a asp-area="" asp-controller="Ticketing" asp-action="MovieInfoIndex2">我也要訂票</a></li>
                                        <li><a asp-area="" asp-controller="Ticketing" asp-action="SeatMap">我要座位</a></li>
                                        <li><a asp-area="" asp-controller="Ticketing" asp-action="PaymentWeb">我要付錢</a></li>
                                        <li><a asp-area="" asp-controller="Ticketing" asp-action="PaymentWeb2">我要也付錢</a></li>
                                        <li><a href="./categories.html">本週新片</a></li>
                                        <li><a href="./anime-details.html">上映中</a></li>
                                        <li><a href="./anime-watching.html">即將上映</a></li>
                                        <li><a href="./blog-details.html">歷年電影</a></li>
                                        <li><a href="./blog-details.html">電影排行</a></li>
                                        <li><a href="./blog-details.html">我的評論</a></li>
                                    </ul>
                                </li>
                                <li><a href="./anime-details.html">影評</a></li>  <!--./blog.html-->
                                <li><a href="#">商城</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap">
                <div class="slicknav_menu">
                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <ul>
                            <li><a href="./index.html" role="menuitem">Homepage</a></li>
                            <li class="slicknav_collapsed slicknav_parent">
                                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row">
                                    <span class="slicknav_arrow">►</span>
                                </a><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                    <li><a href="./categories.html" role="menuitem" tabindex="-1">Categories</a></li>
                                    <li><a href="./anime-details.html" role="menuitem" tabindex="-1">Anime Details</a></li>
                                    <li><a href="./anime-watching.html" role="menuitem" tabindex="-1">Anime Watching</a></li>
                                    <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                    <li><a href="./signup.html" role="menuitem" tabindex="-1">Sign Up</a></li>
                                    <li><a href="./login.html" role="menuitem" tabindex="-1">Login</a></li>
                                </ul>
                                <link href="~/css/site.css" rel="stylesheet" />
                            </li>
                            <li class="active"><a href="./blog.html" role="menuitem">Our Blog</a></li>
                            <li><a href="#" role="menuitem">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <hr />
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            M.D.A. Co., Ltd. All rights reserved.<br /><a href="https://colorlib.com" target="_blank">M.D.A.</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
</body>
</html>
